# Ignore Python build artifacts.

*.egg-info/
*.pyc
*.pyo


# Ignore virtualenv environments.

.venv*/


# Ignore Vagrant runtime files.

.vagrant/


# Ignore settings for various IDEs.

.idea/
.project/
.pydevproject/
nbproject/
*.code-workspace
.vscode/


# Ignore OS metadata files.

.DS_Store
Thumbs.db
